[phases.setup]
nixPkgs = ["nodejs_20", "npm"]

[phases.install]
cmds = ["npm ci --legacy-peer-deps"]

[phases.build]
cmds = ["npm run db:generate", "npm run build:api"]

[start]
cmd = "npm run prisma:migrate && npm start"
